@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">Política de privacidad</h1>

<p>Muy Buenas Profe, personalmente no creo que vaya a ver esto xD</p>
<img src="https://i.pinimg.com/originals/42/77/68/4277682f492127711392585eaad0a6f9.gif" class="img-fluid" alt="...">
