@page
@model WikiClase.Pages.Tags.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center m-3">Editar la Subcategoria</h1>
<hr />
<div class="row">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tag.Id" />
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Tag.subCategoria" class="control-label mb-3 fs-3"></label>
                        <input asp-for="Tag.subCategoria" class="form-control" />
                        <span asp-validation-for="Tag.subCategoria" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Tag.Categoria" class="control-label mb-3 fs-3"></label>
                        <select asp-for="Tag.CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId">
                        </select>
                        <span asp-validation-for="Tag.CategoriaId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <div class="form-group mt-2">
                        <a asp-page="./Index"><i class="bi bi-arrow-left-square-fill text-success fs-3"></i></a>
                    </div>
                </div>
                <div class="p-2">
                    <div class="form-group mt-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
